/* RobotoSlab regular */

@font-face {
    font-family: "RobotoSlab";
    src: url("../fonts/RobotoSlab-Regular.eot");
    src: url("../fonts/RobotoSlab-Regular.eot?#iefix") format('embedded-opentype'),
    url("../fonts/RobotoSlab-Regular.woff2") format('woff2'),
    url("../fonts/RobotoSlab-Regular.woff") format('woff'),
    url("../fonts/RobotoSlab-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* RobotoSlab bold */

@font-face {
    font-family: "RobotoSlab";
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
    url('../fonts/RobotoSlab-Bold.woff') format('woff'),
    url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}